*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
    /* padrao de cores*/ 
    :root {
        --color-neutral-0: #0E3659;
        --color-neutral-10: #018DB5;
        --color-neutral-30: #0E3659;
        --color-neutral-40: #D99923;
    
}
header {
    background-color: #0E3659;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: fixed;
    padding: 12px 80px;
    width: 100%;
    z-index: 10;
	overflow: visible;
}
.miesc {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    top: 0;
	transition: 0.5s;
    display: flex;
}
.nav-list{
padding-top:15px ;
list-style:none;
float:right;
}
.nav-list li{
    position:relative;
    float:right;
    margin: 0 10px;
	list-style-type: none;
}

.nav-list li a{
    color: #D99923;
    text-decoration:none;
    padding:5px 10px;
    display:block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.4s ease;
}

.nav-list li a:hover{
    background-color: #041f5a;
    color: #D99923;
}
.updraft{
    background-color: #007c9e;
    color: #D99923;
    border-radius: 5px;
	box-shadow: 2px 2px 2px 1.5px #0E3659;
}
.nav-list li  ul{
    position:absolute;
    top:35px;
    left:-75px;
    display:none;
    text-align: center;
	
    
}
.nav-list li:hover ul, .nav-list li.over ul{display:block;}
.nav-list li ul li{
    display:block;
    width:150px;
    }
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
}
.fundo{
    min-height: 100vh;
    background-image:url("../img/fundo2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pauloFreire img{
    width: 100%;
    bottom: -100px;
    min-height: 140vh;
    background-image: url(../img/Ondas/onda\ pf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 8%, black 18%);
}
.pauloFreire-text{
    display: absolute;
    width: 650px;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    position: absolute;
    top: 600px;
    text-align: center;
    font-family: Roboto;

}
.botao-1 a{
    border: solid 1px;
    background-color: #c78305;
    height: 65px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    box-shadow: 10px 5px 5px gray;    

}
.botao-2 a{
    border: solid 1px;
    background-color: #c78305;
    height: 65px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    box-shadow: 10px 5px 5px gray;
}
.pauloFreire{
    width: 100vw;
  
}
.frase{ 
    display: block;
    align-items: center;
    align-items: center;
    text-align: center;
}
.frase h1{ 
    display: block;
    align-items: center;
    align-items: center;
    text-align: center;
}
.frase p{
    position: relative;
    text-align: center;
    font-size: 20px;
}
.frase{
    position: relative;
    bottom: 50px;
}
/*Começo de adicionar apresentação*/

.apresentacao{
  width: 100%;
  position: relative;
}
.apresentacao-text{
    height: 15rem;
    width: 60rem;
    display: inline-block;
    
    border-radius: 15px;
    border: solid 1px;
    box-shadow: 10px 10px 5px gray;
    position: relative;
    top: 50%;
    left: 30rem;
}
.apresentacao-titulo{
    
    color:#D99923;
   
}
.apresentacao h1{
    text-align: center;
    font-size: 40px;
}
.apresentacao img{
    width: 100%;
    bottom: -100px;
    min-height: 140vh;
    background-image: url(../img/Ondas/ondaApresentacao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inputBox,.enviar{
    margin-left: 50px;
  
    display: flex;
    flex-direction: column;
    text-align:start;
    align-items: start;
    justify-content: center;
    font-size: 40px;
}
.inputBox label{
    font-size: 35px;
    color: #0E3659;
}
.envia{
    
background-color: #0E3659;
color: #D99923;
border: none;
padding: 8px 10px;
font-size: 16px;
border-radius: 5px;
}


.apresentacao-text{
    position: absolute;
    right: 1%;
    top: 75%;
}
/* Começo apresentação aluno*/
/* Estilo para o título da tabela */
.apresentacao-cont{
    background-color: var(--color-neutral-0);
    display:block;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20rem;
}
h1.apresentacoes {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: white; /* Cor do texto */
    background-color: var(--color-neutral-0);
}

/* Estilo para a tabela */
table.tabela {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-neutral-40); /* Cor de fundo da tabela */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Cantos arredondados */
}

/* Estilo para as linhas da tabela (tr) */
table.tabela tr {
    border-bottom: 1px solid #ddd; /* Linha divisória entre as linhas */
}

/* Estilo para as células da tabela (td) */
table.tabela td {
    padding: 10px;
    text-align: center;
}

/* Estilo para a primeira linha (cabeçalho) */
table.tabela tr:first-child {
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
    font-weight: bold;
}

/* Estilo para células do cabeçalho */
table.tabela tr:first-child td {
    color:white;
    background-color: var(--color-neutral-0);
}

/* Começo Rodapé */ 
footer {
    position: relative;
    width: 100%;
    color: var(--color-neutral-40);
    height: 48px;
    left: 0;
    bottom: 0;   
}
.footer-link {
    text-decoration: none;
}
#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}
#footer_contacts h1 {
    margin-bottom: 0.75rem;
}
#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 
#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-0);
    border-radius: 50%;
    transition: all 0.4s;
}
#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}
#footer_social_media .footer-link:hover {
    opacity: 0.8;
}
#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#whatsapp {
    background-color: #25d366;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}
.footer-list .footer-link:hover {
    color: #7f37c9;
}
#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#footer_subscribe p {
    color: var(--color-neutral-30);
}
.botao2 button{
	background-color: #0E3659;
    color: #D99923;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}
@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}	/* Fim Rodapé */ 
